pre {
    white-space: pre-wrap;
}

.img {
    border-radius: 15px;
}

.main {
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px 40px;
}

.abbas-spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* This is for the javascript demo code! */
#demo {
    color: #fbed7a;
    filter: drop-shadow(2px 2px 1px rgb(60, 26, 126));
}