.img {
    border-radius: 15px;
}

.main {
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px 40px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

/* This is for the javascript demo code! */
#demo {
    color: #fbed7a;
    filter: drop-shadow(2px 2px 1px rgb(60, 26, 126));
}