{% extends 'base.html' %}

{% block title %}

Create Post

{% endblock %}



{% block content %}
<h1> Enter your info & write your 🐤BlogBird post</h1>

<form class="shadow p-3 mb-5 bg-body rounded" action="{{url_for('add_post')}}" method="POST">
    <div class="mb-3">
        <br />
        {{ form.hidden_tag() }}
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        {{ form.author(class="form-control", type="hidden") }}
        {{ form.slug(class="form-control", type="hidden") }}
        <br />
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control", rows="10") }}
        <br />
        <div class="text-end">{{ form.submit(class="btn btn-primary") }}</div>
    </div>
</form>
{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}

{% endblock %}