{% extends 'base.html' %}

{% block title %}Blogbird{% endblock %}



{% block content %}
{% if current_user.username == 'admin' or current_user.username == post.post_author.username %}

<div class="spaced-between">
    <h1> Enter your info & write your 🐤BlogBird post</h1>
    <form action="{{ url_for('delete_post') }}" method="POST">
        <input type="hidden" name="id" value="{{post.id}}" />
        <button class="btn btn-danger mx-1 mx-3" type="submit">
            Delete Post
        </button>
    </form>
</div>

<form class="shadow p-3 mb-5 bg-body rounded" action="{{url_for('edit_post')}}" method="POST">
    <div class="mb-3">
        <input type="hidden" name="id" value={{post.id}} />
        {{ form.hidden_tag() }}
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control", value=post.title) }}
        <br />
        {{ form.author(class="form-control", value=post.post_author.id, type="hidden") }}

        {{ form.slug(class="form-control", value=post.slug, type="hidden") }}

        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control", rows="10") }}
        <br />
        <div class="spaced-end">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>
{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}
{% else %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    You cannot edit the posts you haven't wrote!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <script>
        setTimeout(function () {
            window.location.href = "{{ url_for('posts') }}";
        }, 2000);
    </script>
</div>


{% endif %}




{% endblock %}