{% extends 'base.html' %}

{% block title %}Blogbird{% endblock %}


{% block content %}
<br />



<br>

<form class="shadow p-3 mb-5 bg-body rounded" action="" method="POST">
    <h3>Enter your info:</h3>
    <br>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ 'Full ' + form.name.label(class="form-label") + ':' }}
        {{ form.name(class="form-control mb-3",placeholder="John Doe", value=user.name) }}
    </div>
    <div class="">
        {{ form.username.label(class="form-label") + ' Address:' }}
        {{ form.username(class="form-control mb-3", placeholder="Maximum 20 character!", value=user.username) }}
    </div>
    <div class="">
        {{ form.email.label(class="form-label") + ' Address:' }}
        {{ form.email(class="form-control mb-3", placeholder="name@example.com", value=user.email) }}
    </div>
    <br>
    <div class="mb-3">
        {{ form.about.label(class="form-label")+ ':' }}
        {{ form.about(class="form-control", placeholder="Tell us about yourself.") }}
    </div>
    <br>
    {{ form.user_access.label(class="") + ':' }}
    {{ form.user_access(class="form-select", value=user.access_level) }}
    <br>

    <div class=" text-end">
        <a class="btn btn btn-danger" href="{{url_for('delete_user', id=user.id)}}">Delete</a>
        {{ form.submit(class="btn btn-primary") }}
    </div>
    </div>
</form>
</div>


{% endblock %}