{% extends 'base.html' %}

{% block title %}Blogbird{% endblock %}


{% block content %}


<h1>Enter Your creditentials</h1><br>


<form action="{{url_for('login')}}" method="POST">
    <div class="mb-3">
        {{ form.hidden_tag() }}

        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        <br />
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        <br />
        <div class="text-end">{{ form.submit(class="btn btn-primary") }}</div>
    </div>
</form>


{% endblock %}