{% extends 'base.html' %}

{% block title %}

🐤BlogBird

{% endblock %}


{%block content%}

<br>

{% for post in posts %}


<div class="post card shadow-lg text-bg-light mb-3 mx-auto">
    <div class="card-header  spaced-between">
        <span>This is a 🐤BlogBird Post</span>
        <a class="btn btn-sm btn-secondary" href="{{url_for('post', author=post.author, slug=post.slug)}}">
            Read Full Post
        </a>
    </div>
    <div class="card-body">
        <h6 class="card-title">
            {{post.title }}
        </h6>
        <p class="card-text">
            {{ post.content |truncate(300, True, "... ") }}
            <a class="link-secondary" href="{{url_for('post', author=post.author, slug=post.slug)}}">
                read more
            </a>
        </p>
    </div>
    <div class="card-footer spaced-between">
        <small class="text-muted">
            Author: {{post.author}}
        </small>
        <small class="text-muted">
            Date: {{post.date_posted.strftime("%Y-%m-%d")}}
        </small>
    </div>
    {% if current_user.is_authenticated and current_user.username == post.author %}
    <div class="card-footer spaced-between">
        <form action="{{ url_for('delete_post') }}" method="POST">
            <input type="hidden" name="id" value="{{post.id}}" />
            <button class="btn btn-sm btn-danger" type="submit">
                Delete
            </button>
        </form>
        <form action="{{ url_for('edit_post') }}" method="POST">
            <input type="hidden" name="id" value="{{post.id}}" />
            <input type="hidden" name="to_edit" value="yes" />
            <button class="btn btn-sm btn-outline-dark" type="submit">
                Edit
            </button>
        </form>
        {% endif %}
    </div>
</div>
<br>
{% endfor %}
{% endblock %}