{% extends 'base.html' %}

{% block title %}

🐤BlogBird - {{post.title}}

{% endblock %}


{%block content%}

<br>


<div class="card  shadow-lg text-bg-light mb-3 mx-auto" style="max-width: 85vw;">
    <div class="card-header  abbas-spaced">
        <span>This is a 🐤BlogBird Post</span>
        <a class="btn btn-sm btn-secondary" href="{{url_for('posts')}}">
            Back to all posts
        </a>
    </div>
    <div class="card-body">
        <h6 class="card-title">
            {{ post.title }}
        </h6>
        <p class="card-text">
            {{ post.content}}
        </p>
    </div>
    <div class="card-footer abbas-spaced">
        <small class="text-muted">
            Author: {{post.author}}
        </small>
        <small class="text-muted">
            Date: {{post.date_posted.strftime("%Y-%m-%d")}}
        </small>
        <a class="btn btn-outline-dark" href="#">
            Go to Top
        </a>
    </div>
</div>
<br>
{% endblock %}