{% extends 'base.html' %}

{% block title %}

{% if user %}
Editing {{user.name}}'s Info'
{% else %}
Update user info
{% endif %}

{% endblock %}


{% block content %}
<br />
{% for message in get_flashed_messages() %}
{% if message == '4'%}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Sorry! Something Went Wrong!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% elif message == '1' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    User's email is already in databas!, Use another Email!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% elif message == '3' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    User info updated successfully!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}


<br>

<form class="shadow p-3 mb-5 bg-body rounded" action="/user-update/{{user.id}}" method="post">
    <h3>Enter your info:</h3>
    <br>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ 'Full ' + form.name.label(class="form-label")+ ':' }}
        {{ form.name(class="form-control",placeholder="John Doe", value=user.name) }}
    </div>
    <div class="">
        {{ form.email.label(class="form-label")+ ' Address:' }}
        {{ form.email(class="form-control", placeholder="name@example.com", value=user.email) }}
    </div>
    <br />
    <div class=" text-end">
        {{ form.submit(class="btn btn-primary") }}
    </div>
    </div>
</form>
</div>


{% endblock %}